@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

*{
  padding:0;
  margin:0;
}

header{
  background-color:#F7E6C1;
}

h1{
  font-family: 'Crimson Text', serif;
  margin-left: 10px;
  text-align:left;
  
}

ul{
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

li{
margin: 25px;
text-align: center;
}

.boton{
  
  border-color: black;
  border-radius: 5px;
  margin: 15px;
  width: 50px;
  height: 50px;
}

.btn{
  font-size: large;
  width: 100px;
}

.titulo{
  margin: 30px;
  text-align:justify;
}

.cards{
  background-color: #F7E6C1;
  width: 200px;
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 1px gainsboro;

}

.container-cards{
  display: flex;
  justify-content: center;
}

.carritologo{
  display: flex;
  width: 20px;
  align-content: stretch;
    justify-content: center;
    flex-direction: column-reverse;
}


.seccion{
  text-align: center;
  font-size:xx-large;
  font-family:'Crimson Text', serif; 
  margin:15px;
}

.img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.detailContainer{
  margin: 50px;
  background-color: #F7E6C1;
  border-radius: 10px;
}

.imgDetail{
width: 350px;
height: 350px;
margin-top: 15px;

}

.detalles{
  display: flex;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  margin-left: 420px;
  margin-right: 10px;
    align-items: flex-start;
}

h3{
  font-size: x-large;
  margin: 10px;
}

.precio{
  font-size: xx-large;
  margin: 10px;
}