@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

*{
  padding: 0;
  margin:0;
}

header{
  background-color:#F1D188;
}

h1{
  font-family: 'Crimson Text', serif;
  margin-left: 10px;
  text-align:left;
}

h2{
  font-family: 'Crimson Text', serif;
  margin-left: 50px;
}

ul{
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

li{
margin: 15px;
}