@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

*{
  padding:0;
  margin:0;
}

header{
  background-color:#F7E6C1;
}

.nombrePagina{
  font-family: 'Crimson Text', serif;
  margin-left: 10px;
  text-align:left;
  text-decoration: none;
  color: black;
  font-size: 35px;
  
}

ul{
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.categoria{
margin-left: 25px;
text-align: center;
text-decoration: none;
color: black;
font-family: 'Crimson Text', serif;
font-size: 20px;
}

h3{
  font-size: 30px;
  margin-left: 10px;
}

.boton{
  
  border-color: black;
  border-radius: 5px;
  margin: 15px;
  width: 50px;
  height: 50px;
}

.btn-detalles{
  background-color: white;
  border-color: black;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.stock{
  margin: 10px;
}


.btn{
  font-size: large;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.titulo{
  margin: 30px;
  text-align:justify;
}

.disponibles{
  color: gray;
  display: flex;
  margin-top: 100px;
}

.cards{
  background-color: #F7E6C1;
  width: 300px;
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 1px gainsboro;

}

.container-cards{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carritologo{
  display: flex;
  width: 98%;
  margin-right: 15px;
  justify-content: flex-end;
    
}


.seccion{
  text-align: center;
  font-size:xx-large;
  font-family:'Crimson Text', serif; 
  margin:15px;
}

.img, .imgDetail{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.detailContainer{
  margin: 50px;
  background-color: #F7E6C1;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px gainsboro;
}

.imgDetail{
width: 300px;
height: 300px;
margin-top: 15px;

}

.detalles{
justify-content: flex-end;
align-items: center;
display: flex;
flex-wrap: wrap;
font-size: 20px;
}

.descripcionDetalle{
  margin: 20px;
}

.detailsWrap{
  display: flex;
flex-wrap: nowrap;
align-items: center;
}


.precio{
  font-size: 40px;
  margin: 10px;
}

footer{
  background-color: #F7E6C1;
  width: 100%;
  height: 50px;
  justify-content: center;
  text-align: center;
}

.imgCarrito{
  width: 80px;
}

.divCarrito{
  list-style: none;
  margin-bottom: 10px;
  margin-left: 10px;
  border-bottom: 2px solid;
  border-bottom-color: #dddcda;
  display: flex;
  justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.totalCarrito{
  display: flex;
  margin-left: 25px;
  margin-right: 75px;
  align-items: center;
    justify-content: space-between;
}

.cartVacio{
  margin-top: 150px;
  margin-bottom: 100%;
  text-align: center;
}